<!DOCTYPE html>
<html>
<title>DataCrypt</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<script src="assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.form-control{
  height: 50px;
}

.btn{
  font-size: 20px;
}

/* Create a Parallax Effect */
.dc_verifyFile1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.dc_verifyFile1 {
    background-image: url('/assets/dc_verifyFile1.jpg');
    min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .dc_verifyFile1 {
        background-attachment: scroll;
    }
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-animate-top w3-white" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button">HOME</a>
    <a href="/addFile" class="w3-bar-item w3-button w3-hide-small">ADD FILE</a>
    <a href="/verifyFile" class="w3-bar-item w3-button w3-hide-small">VERIFY FILE</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="dc_verifyFile1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <div class="container">
      <h2 style="color:black">Verify file</h2>
      <form action="/verifyFile" method="POST">
        <div class="form-group">
          <label for="hash" style="color:black">File Hash:</label>
          <input type="text" class="form-control" id="hash" placeholder="Enter file hash" name="hash" required>
        </div>
        <button type="submit" class="btn btn-default" style="color:black">Verify</button>
      </form>
      {{#if message}}
        {{#if_equal message "File not found"}}
          <div class="alert alert-danger">
          <strong>Sorry!</strong> File not found.
          </div>
        {{else}}
          <div class="alert alert-success">
          <strong>File found.</strong> 
          <br> Owner: {{message.owner}} 
          <br> Block timestamp: {{message.timestamp}}
          </div>  
        {{/if_equal}}  
      {{/if}}
    </div>
  </div>
</div>

<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</body>
</html>